.row
  .col
    form(style='padding: 0.8em 1.2em 0.8em 1.2em', method='GET', action='')
      if search
        input(name='s', style='display:none; visibility:hidden;', value=search)
      .panel-group
        .panel.panel-default
          .panel-heading
            h2.panel-title
              a(data-toggle="collapse", href="#genres")
                .glyphicon.glyphicon-check
                | &nbsp;Filter genre
          #genres
            ul.list-group(style='margin:1em;')
              li.list-group-item
                ul.list-group.row(style='margin: 0.5em;')
                  each genre in genres
                    li.col-xs-6.col-sm-4.col-lg-3
                      input(type='checkbox', name='g', value=genre, id=genre)
                      label= genre
            .panel-footer
              input.btn.btn-info(type='submit', value='Filter genre')