mixin prikaziOceno(ocena)
    - for (var i = 1; i <= ocena; i++)
        span.glyphicon.glyphicon-star
    - for (var i = ocena; i < 5; i++)
        span.glyphicon.glyphicon-star-empty
mixin formatDate(origDate)
    - var date = new Date(origDate);
    - var monthsNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    - var d = date.getDate();
    - var m = monthsNames[date.getMonth()];
    - var y = date.getFullYear();
    - var formatted = "";
    - if(d == 1 || d == 21 || d == 31)
        - formatted += d + "st ";
    - else if(d == 2 || d == 22)
        - formatted += d + "nd";
    - else if(d == 3 || d == 23)
        - formatted += d + "rd";
    - else
        - formatted += d + "th";
    - formatted += " of " + m + ", " + y;
    = formatted