@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.hidden {
  display: none;
  visibility: hidden;
}
.nighttime .panel {
  background-color: #222;
}
.page-header h1 {
  margin-left: 0.7em;
}
footer {
  z-index: 1000;
}
body {
  padding-top: 3em;
  padding-right: 1em !important;
  padding-left: 1em !important;
}
.nighttime {
  background: #333;
  color: #888;
}
.row {
  margin-left: -8px;
  margin-right: 0px;
}
#wrapper {
  width: 85%;
  margin: auto;
}
.navbar-inverse span {
  background-color: #aaa !important;
}
.navbar-inverse .btn-default {
  background-color: #aaa !important;
  border-color: #777;
}

.nighttime .panel-heading, .nighttime .panel-footer {
  background: #555;
  color: #aaa;
}
.nighttime .list-group-item, .nighttime .panel-body {
  background: #222;
}
.nighttime .list-group-item a {
  color: #999;
}
.nighttime .label {
  color: #222;
}
.nighttime .btn-default, .nighttime .well, .nighttime .badge {
  background: #333;
  color: #999;
}
.nighttime textarea, .nighttime input, .nighttime select, .nighttime .dropdown-menu, .nighttime .dropdown-menu a {
  background: #222;
  color: #999;
}
.nighttime .divider {
  background: #666;
}

#description, #chapterContent {
  min-height: 5em;
  height: auto;
  margin: 0 0 2em 0;
  width: 100%;
}
/* Login / Register Form formatting */
#login {
  max-width: 30em;
  margin: auto;
  margin: 0 0 2em 0;
}

/* CENTRIRA SLIKO PRI ISKANJU ZGODB */
.browse-novel-data {
  text-align: right;
}
.browse-novel-data img {
  max-width: 75vw;
  width: 95%;
  position: relative;
  margin: auto;
}
/* FIX DISPLAY GENRES */
#genres > input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 1em;
  margin: 0.5em 0.7em 0.5em 0.7em;
}
#genres label {
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}
.select-genre button {
  /*background: none;*/
  border: 1px solid;
  border-radius: 10px;
}
.select-genre h3 {
  padding: 0;
  margin: 0;
}
#genres ul, #genres li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* NOVEL DETAILS */
#tags-panel .glyphicon {
  margin-right: 0.3em;
}
#tags-panel .label {
  margin: 0 0.1em 0 0.1em;
}
.review {
  padding-bottom: 5px;
}
.review-panel, .row.list-group {
  margin-bottom: 2.5em;
}
.panel-body .review-container {
  padding-top: 0;
}
.review-header {
  margin-bottom: 10px;
}
.review-author {
  margin: 0 5px;
}
.review-timestamp {
  color: #aaa;
}
footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0px;
}
.panel.panel-primary .panel-body span {
  display: inline-block;
}

/* USER PANEL */
#usr-pic {
  width: 20px;
  height: 20px;
  padding: 0px !important;
  margin: 0px;
}
.navbar-header {
  display: inline-block;
}
#user-panel .dropdown-menu {
  margin-top: 10px;
}
#user-panel button img {
  margin-right: 5px;
}
.navbar-form {
  margin-left: 0px;
  margin-right: 0px;
}
h1 {
  font-family: 'Allura', cursive;
  font-size: 4.5em;
}
h1 small {
  font-family: sans-serif, italic;
  font-size: 35%;
}

/* SIDEBAR */
#sidebar a {
  cursor: pointer;
}
#sideabr > ul.list-unstyled {
  border: none;
}
#sidebar .tooltip {
 /* margin-left: -4em !important;*/
 right: 4.5em;
 left: auto !important;
}
.tooltip.left .tooltip-arrow {
  top: 50% !important;
}
#sidebar-open.navbar-inverse i {
  color: #aaa;
}
#sidebar-open {
  margin: 0px;
  position: fixed;
  right: 0em;
  width: 1em;
  top: 50px;
  height: 100vh;
  padding: 0px;
  border: none;
  border-left: solid 1px #ddd;
}
#sidebar-open.navbar-inverse {
  border-left-color: #000;
}
#sidebar {
  z-index: 99;
  padding: 0;
  position: fixed;
  right: -0.3em;
  width: 3.0em;
  height: 100vh;
  top: 50px;
  transition: all 0.3s;
  border-radius: 0px;
  /*overflow: hidden;*/
}
#sidebar a[data-toggle="collapse"] {
    position: relative;
}
#sidebar a[aria-expanded="false"]::before, #sidebar a[aria-expanded="true"]::before {
/*    content: '\e259'; 
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;*/
}
#sidebar a[aria-expanded="true"]::before {
/*    content: '\e260'; */
}
#sidebar a, #sidebar a:hover, #sidebar a:focus {
  text-decoration: none;
}
#sidebar ul.components {
  padding: 20px 0;
  /*border-bottom: 1px solid;*/
}
#sidebar i {
  margin-left: -0.2em;
}
#sidebar ul li a {
  padding: 10px 0 10px 0;
  font-size: 1.3em;
  text-align: center;
  display: block;
  margin: 0 0.2em 0 0.05em;
  color: #aaa;
  border: none;
}
#sidebar ul ul {
  overflow: hidden;
  margin: 0 0.2em 0 0.075em;
}
#sidebar ul li a:hover {
  color: #aaa;
  background: #fff;
}
#sidebar.navbar-inverse ul li a:hover {
  color: #aaa;
  background: #000;
}
#sidebar ul li.active > a, #sidebar a[aria-expanded="true"] {
  color: #fff;
  background: #888;
}
#sidebar.navbar-inverse ul li.active > a, #sidebar.navbar-inverse a[aria-expanded="true"] {
  color: #000;
  background: #666;
}
#sidebar ul ul a {
  font-size: 0.9em !important;
  background: #ddd;
  margin: 0;
}
#sidebar.navbar-inverse ul ul a {
  background: #888;
  color: #000;
}

/* CHAPTERS SIDEBAR */
#chapters {
  top: 3.5em;
  position: fixed;
  width: 100%;
  max-width: 27em;
  right: 0px;
  background-color: #999999;
  padding: 1em 3.5em 1em 1em;
  height: 100vh;
}
#chapters a {
  color: #f2f2f2;
}
.nighttime #chapters {
  background: #252525;
}
.nighttime #chapters a {
  color: #777;
}

/* VERTICAL CENTERING */
.cont{
  width:100%;
}

.vertical-center {
  height:100%;
  width:100%;

  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: ' ';
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  height: 100%;
}

.vertical-center > .cont {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif; /* <-- reset the font property */
}

/* FLIPPING GLYPHICONS */
.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}
