extends layout

block content
  #banner.page-header
    .row
      h1= title
        if subtitle
          small= subtitle
  .row
    a.btn.btn-default(href='/db/drop') Drop database
  .row &nbsp;
  .row
    a.btn.btn-default(href='/db/populate') Populate database with dummy data
