doctype html
html(ng-app="aa-novels")
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title(ng-bind='title')= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Allura&amp;subset=latin-ext', rel='stylesheet')
    link(rel="icon", href="/fav.ico", type="image/gif")
    link(rel="shortcut icon", href="/fav.ico", type="image/gif")
    base(href="/")
  body(ng-view)
    noscript
      nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
          .navbar-header
            a.navbar-brand(href='/') ArdentAngel
          #user-panel.dropdown.pull-right
            ul.nav.navbar-nav
              li
                a.dropdown-item(role='presentation', href='/login') Login
              li
                a.dropdown-item(href='/signout') Sign out
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          #navbar-main.navbar-collapse.collapse(aria-expanded='false')
            ul.nav.navbar-nav
              li
                a(href='/browse') Browse
              li
                a(href='/library') My Library
              li
                a(href='/informacije') About
              li
                a(href='/db') DB
              li
                form.navbar-form(action='/search', method='get')
                  .input-group
                    if search
                      input.form-control(type='text', placeholder='Search', name='s', value=search)
                    else
                      input.form-control(type='text', placeholder='Search', name='s')
                    .input-group-btn
                      button.btn.btn-default(type='submit')
                        i.glyphicon.glyphicon-search
      .container(style='margin-bottom: 4em;')
        #wrapper
          block content
        
      footer.navbar-default
        .row
          .col-xs-8(style='text-align: left')
            if pageFooter
              each link in pageFooter.left
                small
                  i.glyphicon.glyphicon-menu-right
                  a(href= link.href, alt= link.title)= link.title
          .col-xs-4(style='text-align: right')
            if pageFooter
              small= pageFooter.right
      
    script(src='/angular/angular.min.js')
    script(src="/lib/angular-route.min.js")
    script(src="/lib/angular-sanitize.min.js")
    script(src="/lib/ui-bootstrap-custom-2.5.0.min.js")
    script(src="/lib/ui-bootstrap-custom-tpls-2.5.0.min.js")
    script(src="/angular/aa-novels.min.js")
    script(src='/javascripts/jquery-3.2.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='https://www.google.com/recaptcha/api.js?render=explicit', async, defer)