extends layout

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.subtitle}
    .row
      .col-sm-offset-1.col-sm-10
        form.form-horizontal(action="", method="post", role="form")
          if error
            .alert.alert-danger(role="alert") Please fill in all required fields (Author, rating).
          .form-group
            label.col-xs-10.col-sm-2.control-label(for="rating") Rating
            .col-xs-6.col-sm-3
              select#ocena.form-control.input-sm(name="rating")
                option(default) &nbsp;
                option 5
                option 4
                option 3
                option 2
                option 1
          .form-group
            label.col-sm-2.control-label(for="review") Review
            .col-sm-10
              textarea#review.form-control(name="review", rows="5")
          button#add-review.btn.btn-default.pull-right Add review