extends layout

include _include/skupneHTMLfunkcije.pug

block content
  .page-header
    h1= pageHeader.title
      small &nbsp;#{pageHeader.subtitle}
    h3
      a.btn.btn-default(href='/novel') Create a new novel
  .row
    .col
      .row.list-group
        if novels && novels.length > 0
          each novel in novels
              .col.list-group-item
                .row
                  .col
                    h4
                      a(href="/novel/" + novel._id)= novel.title
                      span.badge.pull-right.badge-default= novel.author.name
                .row
                  #browse-novel-data.col-sm-3.col-xs-12
                    img.float-left(src='images/no-image.png', style='max-width: 75vw; width: 95%;position: relative; margin: auto')
                    h4(style) &nbsp;&nbsp;
                        +prikaziOceno(novel.rating)
                    p
                      each tag in novel.tags
                        span.label.label-primary(style='display: inline-block')= tag
                        | &nbsp;
                  .col-sm-9.col-xs-12
                    p.address= novel.description
        else
          p You haven't written any novels yet... That's such a shame.