extends layout

include _include/skupneHTMLfunkcije.pug

block content
  .row.page-header
    .col
      h4= pageHeader.author.name
      if edit
        h1#novelTitle(style='margin-left: 0.7em', contenteditable='true')= pageHeader.title
      else
        h1#novelTitle(style='margin-left: 0.7em')= pageHeader.title
  .row
    .col-xs-12.col-sm-4
      .panel.panel-primary
        .panel-body
          img.img-responsive.img-rounded(src='/images/no-image.png')
      p.rating
        b(style='margin: 0 0.5em 0 0; display:inline') Overall rating:
        +prikaziOceno(details.rating)
      .panel.panel-primary
        .panel-heading
          h2.panel-title Tags
        #tags-panel.panel-body
          if details.tags && details.tags.length > 0
            each tag in details.tags
              span.label.label-info
                | #{tag}
          else
            span No tags yet
    .col-xs-12.col-sm-8
      if !edit
        if !library
          form(method='post', action='/novel/' + id + '/library')
            input.btn.btn-default.pull-right(type='submit', value='Add to library')
        else
          form(method='post', action='/novel/' + id + '/library-remove')
            input.btn.btn-default.pull-right(type='submit', value='Remove from library')
      p.lead Short description
      if edit
        #details-description(contenteditable='true')!= details.description
      else
        #details-description!= details.description
  .row
    .col
      .panel.panel-primary.review-panel
        .panel-heading
          h2.panel-title Chapters
        .panel-body
          ul.list-unstyled
            if details.chapters && details.chapters.length > 0
              each chapter in details.chapters
                li
                  a(href="/novel/" + id + "/c/" + chapter._id)= chapter.title
            else
              li
                p No chapters posted yet
  .row
    .col
      .panel.panel-primary.review-panel
        .panel-heading
          if edit
            h2.panel-title Edit tags (seperate with: ',' or ';')
          else
            a.btn.btn-default.pull-right(href='/novel/' + id + '/review') Write a review
            h2.panel-title Reviews
        if edit
          #tags.panel-body.review-container(contenteditable='true')
            if details.tags && details.tags.length > 0
              each tag in details.tags
                | #{tag}, 
            else
              | Replace with tags...
        else
          #tags.panel-body.review-container
            if details.reviews && details.reviews.length > 0
              each review in details.reviews
                .row
                  .col.review
                    .well.well-sm.review-header
                      span.rating
                        +prikaziOceno(review.rating)
                      span.review-author #{review.author.name}
                      small.review-timestamp
                        +formatDate(review.date)
                    if review.review && review.review !== ""
                      .col
                        p !{(review.review).replace(/\n/g, '<br/>')}
            else
              .row
                p No reviews posted yet... Be the first!