extends layout

include _include/skupneHTMLfunkcije.pug

block content
  #banner.page-header
    .row
      h4 #{author.name}:
        small &nbsp;#{novel}
      if edit
        h1#chapter-title(contenteditable='true')= details.title
      else
        h1#chapter-title= details.title
      h5
        +formatDate(details.date)
  if edit
    #chapter-content.row(contenteditable='true')
      p!= details.chapter
      ////p !{(details.chapter).replace(/\n/g, '</p><p>')}
  else
    #chapter-content.row
      p!= details.chapter
      //p !{(details.chapter).replace(/\n/g, '</p><p>')}