extends layout

block content
  .page-header
    h1= pageHeader.title
      small &nbsp;#{pageHeader.subtitle}
  if error
    #errorMessage.alert.alert-danger(style="margin-bottom: 25px;", role="alert")
      strong#error-msg
        | This combination of email and password doesn't match any of our records
  else
    #errorMessage.alert.alert-danger.hidden(style="margin-bottom: 25px;", role="alert")
      strong#error-msg
  form#login.form-horizontal(action='/login', method='POST', autocomplete="off")
    .form-group
      label.control-label.col-sm-4(for="email") Email:
      .col-sm-8
        input.form-control#email(type="email", placeholder="Enter email", name="email")
    .form-group
      label.control-label.col-sm-4(for="pwd") Password:
      .col-sm-8
        input.form-control#pwd(type="password", placeholder="Enter password", name="password")
    .form-group
      .col-sm-offset-4.col-sm-8
        .checkbox
          label
            input(type="checkbox")
            | Remember me
    .form-group
      .col-sm-offset-4.col-sm-8
        button#btn-login.btn.btn-default(type="submit") Submit