extends layout

block content
  .page-header
    h1= pageHeader.title
      small &nbsp;#{pageHeader.subtitle}
  if error
    if error == "passwords-not-match"
      #errorMessage.alert.alert-danger(style="margin-bottom: 25px;", role="alert")
        strong#error-msg Passwords don't match
    else if error == "terms"
      #errorMessage.alert.alert-danger(style="margin-bottom: 25px;", role="alert")
        strong#error-msg You have to agree to the terms
    else if error == "email-not-valid"
      #errorMessage.alert.alert-danger(style="margin-bottom: 25px;", role="alert")
        strong#error-msg You have to enter a valid email
    else if error == "email-exists"
      #errorMessage.alert.alert-danger(style="margin-bottom: 25px;", role="alert")
        strong#error-msg This email already exists in out database!
    else
      #errorMessage.alert.alert-danger(style="margin-bottom: 25px;", role="alert")
        strong#error-msg Inputted data is incorrect
  else
    #errorMessage.alert.alert-danger.hidden(style="margin-bottom: 25px;", role="alert")
      strong#error-msg
  form#login.form-horizontal(action='', method='POST', autocomplete="off")
    .form-group
      label.control-label.col-sm-4(for="full-name") Creator name:
      .col-sm-8
        input.form-control#creator-name(type="text", placeholder="Enter your Creator name", name="name")
    .form-group
      label.control-label.col-sm-4(for="email") Email:
      .col-sm-8
        input.form-control#email(type="email", placeholder="Enter email", name="email")
    .form-group
      label.control-label.col-sm-4(for="pwd") Password:
      .col-sm-8
        input.form-control#pwd(type="password", placeholder="Enter password", name="password")
    .form-group
      label.control-label.col-sm-4(for="pwd-repeat") Repeat pass:
      .col-sm-8
        input.form-control#pwd-repeat(type="password", placeholder="Repeat password", name="password2")
    .form-group
      .col-sm-offset-4.col-sm-8
        .checkbox
          label
            input#terms(type="checkbox", name="terms")
            | I agree to terms of use
    .form-group
      .col-sm-offset-4.col-sm-8
        button#btn-register.btn.btn-default(type="submit") Submit