extends layout

block content
  .page-header
    h1= pageHeader.title
      small &nbsp;#{pageHeader.subtitle}
  h3 Thank you for registering!
  p Now you can experience the full potential of this site!
  p You can begin with by adding novels to the library, or creating your own, by visiting the following link: 
    a(href="/mynovels") My novels